.layer1 {
	position: relative;
	background: linear-gradient(0deg, #FF0000, #FFFFFF, #00FF00, #FFFFFF, #0000FF);
	width: 100px;
	height: 600px;
	animation: gradient 5s infinite;
	animation-duration: 3s;
	animation-direction: alternate;
	z-index: 1;
	opacity: 0.33;
}


@keyframes gradient {
	from {
		top: 480px;
	}

	to {
		top: -200px;
	}
}